/*Define your font styles here*/

	

/*Style your page here*/
@font-face{
	font-family: 'hanalei';
	src: url('hanalei/hanalei-regular-webfont.woff') format('woff'),
		url('hanalei-regular-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'noko_bold';
	src: url('notosanskr-bold-webfont.woff') format('woff'),
		url('notosanskr-bold-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'noko_light';
	src: url('notosanskr-light-webfont.woff') format('woff'),
		url('notosanskr-light-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
body{
	background-color: green;
	padding-left: 375px;
}
h1{
	font-family: 'hanalei';
	color: blue;
	font-size: 170px;
	line-height: 110%;
	letter-spacing: 20px;
	text-decoration: underline;
}
h2 {
	font-family: 'noto_bold', sans-serif;
	color: pink;
	font-size: 140px;
	letter-spacing: 40px;
}
ul{
	font-family: 'noto_bold', sans-serif;
	font-size: 50px;
	color: orange;
}
ol{
	font-family: 'noto_light', sans-serif;
	font-size: 50px;
	color: white;
}
.patty{
	font-family: 'noto_light', sans-serif;
	font-size: 50px;
	color: white;
}
#last{
	font-family: 'Hanalei', cursive;
	color: purple;
	font-size: 170px;
	line-height: 110%;
	letter-spacing: 20px;
	text-decoration: underline;
}
